.logo{
  width: 40px;
  height: 0px;
  margin-left:60px;
}
*{
  margin: 0px;
  padding: 0px;
}
.top{
  width: 100%;
  height: 50px;
  background-color: #ececec;
}
.top_content{
  width: 1024px;
  height: 50px;
  margin: 0px auto;
  background-color: #0040D0;

}
.body{
  margin: 20px auto;
  width: 1024px;
  height: 1000px;
  background-color: #FFFFFF;
}
.body_img{
  width: 1024px;
  height:512px;
  background-color: gold;
}
.body_content{
  width: 100%;
  height: 488px;
  background-color: #bebebe;
}
ol.ol_li {
  list-style-type: none;
  margin:0px;
  padding:0px;
}
ol.ol_li li a:link,a:visited {
  text-decoration: none;
  display: block;
  text-align:center;

}
ol.ol_li li a {
  font-size: larger;
}
h2.h2_body{
  padding-top: 40px;
  margin-left: 40px;

}

.footing{
  width: 100%;
  height: 70px;
  margin: 0px auto;
  background-color: #00A000;
}

.footing_subnav{
  width: 100%;
  height: 70px;
  background-color: #333333;
  text-align: center;
  line-height: 70px;

}
.body_content p{
  font-size: larger;
  margin: 0px 70px;
}
.top_content ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;

}
li a.classIntroduction {
  background-color: black;
}
.top_content li {
  float: left;
}
.top_content li a.signIn {
  float: right;
}
.top_content li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.footing_subnav p{
  color: #FFFFFF;
}

.top_content li a:hover {
  background-color: #111;
}




















